.reserve-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #F6C80F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 20px;
}
