.banner {
    width: 100%;
    max-width: 100%;
    position: relative;
    .banner-image {
        width: 100%;
        height: auto;
    }
}

.cartelera {
    width: 100%;
    max-width: 1300px;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 15%;
    h2 {
        font-size: 100px;
        margin-bottom: 20px;
        color: #fff;
    }
    .peliculas {
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
        .pelicula {
            height: 100%;
            width: auto;
            background-color: #446BCD;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            img {
                width: 100%;
                height: 90%;
                display: block;
            }
            h3 {
                font-size: 16px;
                align-content: start;
                
            }
        }
        
    }
    

}

